{% extends 'base.html' %}

{% block title %}

{% endblock %}


{% block content %}
	<div class="container-fluid">
		<div class="lists">
			<div class="lists__tools">
				<a href="{% url 'mailing:list-create' %}" class="lists__tools_create btn btn-primary create-button">Создать список</a>
			</div>
			<table class="lists__table table table-responsive col-6">
				<thead>
					<tr>
						<td>Название</td>
						<td>Кол-во подписчиков</td>
					</tr>
				</thead>
				<tbody>
					{% for list in list_list %}
						<tr>
							<td>{{ list.name }}</td>
							<td>{{ list.subscribers.count }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
